/* * {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  overflow: hidden;
  height: 100vh;
  position: relative;
  width: 100%;
}

header, main {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

header::-webkit-scrollbar,
main::-webkit-scrollbar {
  display: none;
}


header {
  max-width: 25rem;
  width: 40%;
  padding: 2rem;
  padding-top: 5rem;
  padding-left: 2rem;
}

main {
  flex: 1;
  padding: 2rem;
  padding-right: 4rem;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 0.9;
}

h2 {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 0.9;
  margin-bottom: 0;
}

small {
  line-height: 1;
  color: #737373;
  font-weight: 400;
  letter-spacing: 0.06rem;
}

strong {
  font-weight: 500;
}

a {
  text-decoration: none;
} */

/* Card Component CSS */
/* .card {
  display: flex;
  margin-bottom: 5rem;
}

.card > .card-image > div{
  border-radius: 2px;
}

.card > .card-body {
  padding: 0 0 0 3rem;
} */

/* Layout */
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html, body {
  padding: 0;
  margin: 0;
}

header {
  width: 22rem;
  position: fixed;
  height: 100vh;
  padding: 3rem;
}

main {
  padding-left: 22rem;
  padding-right: 0;
}

/* Text styling */
body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  line-height: 1;
}

strong {
  font-weight: 500;
}

/* Button Component */
a.btn {
  padding: 0.3rem 0.75rem;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  letter-spacing: 0.06rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  text-decoration: none;
}

a.btn-primary {
  background: black;
  color: white;
  border-color: black;
}

a.btn-secondary {
  background: white;
  color: black;
  border-color: rgb(61, 61, 61);
}


/* Card Component */


/* Media Queries */
@media screen and (max-width: 600px) { /* Phones and small tablets */
  header {
    height: 10rem;
    width: 100vw;
    background: white; 
    padding: 1rem;
  }

  main {
    padding: 12rem 2rem 2rem 2rem;
  }
}