/* Layout */
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html, body {
  padding: 0;
  margin: 0;
}

header {
  max-width: 22rem;
  width: 40%;
  position: fixed;
  height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

main {
  padding-left: 22rem;
  padding: 3rem 3rem 0 22rem;
}

/* Text styling */
body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  line-height: 1;
}

small {
  line-height: 1;
  letter-spacing: 0.06rem;
}

strong {
  font-weight: 500;
}

/* Button Component */
a.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.75rem;
  min-width: 10ch;
  text-align: center;
  line-height: 1.1;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  letter-spacing: 0.06rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  text-decoration: none;
  transition: background-color 0.1s, color 0.1s, border-color 0.1s;
}

/* a.btn > span {
  margin-right: 0.5rem;
} */

a.btn > i {
  margin-left: 0.5rem;
}

a.btn-primary {
  background: black;
  color: white;
  border-color: black;
}

a.btn-primary:hover {
  box-shadow: 0 0 0 1px black;
  border-color: white;
  background-color: white;
  color: black;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

a.btn-primary:active {
  background: white;
  color: black;
}

a.btn-secondary {
  background: white;
  color: black;
  border-color: rgb(61, 61, 61);
}

a.btn-secondary:hover {
  box-shadow: 0 0 0 1px black;
  border-color: black;
  background-color: white;
  color: black;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

/* Card Component */
.card {
  display: flex;
  margin: 0 0 3rem 0;
}

.card > .card-image > div {
  border-radius: 2px;
  background-color: grey;
  width: 15rem;
  height: 15rem;
}

.card > .card-body {
  padding: 0 0 0 3rem;
}

.card-title {
  margin-bottom: 0;
}

/* Media Queries */
@media screen and (max-width: 1048px) { /* Tablet dimensions*/
  .card {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .card > .card-image > div {
    width: 100%;
    height: 10rem;
  }

  .card > .card-body {
    padding: 0 0 0 0rem;
  }

}

@media screen and (max-width: 768px) { /* Phones and small tablets */
  header {
    flex-direction: row;
    height: 10rem;
    width: 100vw;
    background: white; 
    padding: 1rem;
  }

  main {
    padding: 12rem 2rem 2rem 2rem;
  }
}