:root {
  --main-font-family: 'IBM Plex Sans', sans-serif;
}

body {
  font-family: var(--main-font-family);
}

h1, p {
  display: none;
}

a {
  padding-left: 1.25rem;
}

.card {
  max-width: 800px;
  margin: auto;
}